html, body {
background-color: #cb3234;
background-image: url('background.jpg');
background-size: 100%;
background-repeat: no-repeat;
color: red;
text-align: center;
margin: 0px;
overflow: hidden;
}

.loader {
position: absolute;
left: 50%;
top: 50%;
margin: -75px 0 0 -75px;

border: 10px solid #cb3234;
border-radius: 50%;
border-top: 10px solid #a6a4a4;
border-left: 10px solid #a6a4a4;
width: 120px;
height: 120px;
animation: spin 1s linear infinite;
}

@keyframes spin {
0% {
transform: rotate(0deg);
}

100% {
transform: rotate(360deg);
}
}

.info {
overflow: hidden;
position: fixed;
position: absolute;
top: 50%;
left: 50%;

font-size: 45px;
font-family: sans-serif;
color: #cb3234;

transform: translate(-50%, -50%);
}

.j {
font-size: 15px;
color: #cb3234;
}
